@font-face {
  font-family: 'Dancing Script';
  src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap'),
    url('./font/DancingScript-Bold.ttf');
}
@font-face {
  font-family: 'Pacifico';
  src: url('./font/Pacifico-Regular.ttf');
}

@media screen and (min-width: 350px) {
  .container {
    width: 320px;
    background-image: url('./img/папка.png');
    box-shadow: 5px 5px 5px rgb(66, 67, 67);
  }
  .h1 {
    font-family: 'Dancing Script';
  }
  .text {
    display: none;
  }
  .arrow {
    display: none;
  }
  .container {
    padding: 20px 35px 30px 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .container3 {
    width: 120px;
    height: 120px;
  }
  .container2 {
    width: 120px;
    height: 50px;
    margin-top: 20px;
  }
  .filter {
    display: flex;
    list-style: none;
  }
  .item {
    margin-right: 20px;
  }
  .h2 {
    font-family: 'Dancing Script';
    margin-left: 75px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
    height: 1800px;
    background-image: url('./img/folder-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: none;
  }
  .item {
    margin-right: 0;
  }
  .h2 {
    font-family: 'Dancing Script';
    position: absolute;
    top: 0px;
    left: 360px;
  }
  .h1 {
    font-family: 'Dancing Script';
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: 60px;
    left: 150px;
    transform: rotate(-25deg);
  }
  .task {
    position: absolute;
    top: 50px;
    left: 350px;
    font-family: 'Pacifico';
    font-weight: 200;
  }
  .filter {
    display: block;
    margin-left: 2px;
    list-style: none;
    padding: 0;
  }
  .container2 {
    width: 120px;
    height: 120px;
    margin-left: 80px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    padding: 1px 10px 30px 10px;
    box-shadow: 10px 10px 10px rgb(135, 133, 133);
  }
  .container3 {
    width: 120px;
    height: 120px;
    background-color: rgb(14, 13, 13);
  }
  .text {
    display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 24px;
    font-family: 'Dancing Script';
    transform: rotate(-45deg);
  }
  .arrow {
    display: block;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 120px;
    height: 120px;
    background-image: url('./img/strelka.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(20deg);
  }
  .container {
    position: relative;
    padding: 10px 10px 20px 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
